<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header style="text-align: center;">
        <h1>Departamento de Trânsito!</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/veiculos/cadastro">Cadastrar Veículos</a>
            <a href="/veiculos/todos">Ver Veículos</a>
        </nav>
    </header>
    <hr />
    <main>
        {{{body}}}
    </main>
    <hr />
    <footer style="text-align: center;">
        <p>Nenhum direito reservado.</p>
    </footer>
</body>

</html>
